/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/.prepl-port
/.cpcache
/.clj-kondo
/.shadow-cljs
/test-project/target
/test-project/.cpcache
/test-project/.rebel_readline_history
/test-project/logs
