{:deps {org.clojure/clojure {:mvn/version "1.12.4"}
        org.clojure/clojurescript {:mvn/version "1.12.134"}
        org.clojure/core.async {:mvn/version "1.9.865"}
        cheshire/cheshire {:mvn/version "5.13.0"}
        haslett/haslett {:mvn/version "0.2.0"}
        integrant/integrant {:mvn/version "1.0.1"}
        org.duct-framework/server.http.jetty {:mvn/version "0.3.4"}
        org.ring-clojure/ring-websocket-async {:mvn/version "0.2.0"}
        org.ring-clojure/ring-websocket-middleware {:mvn/version "0.2.1"}
        no.cjohansen/replicant {:mvn/version "2025.12.1"}}}
