{:system
 {:duct.module/logging {}
  :duct.module/web
  {:features #{:site}}

  :duct.handler/file
  {:paths {"/js" {:root "target/cljs/js"}}}

  :duct.compiler.cljs.simple/build
  {:asset-path "/js"
   :output-dir "target/cljs/js"
   :output-to "target/cljs/js/client.js"
   :optimizations :none
   :preloads [duct.client.repl.simple.preload]
   :main test-project.client}

  :duct.compiler.cljs.simple/server
  {:build #ig/ref :duct.compiler.cljs.simple/build}}}
